.homepage {
  display: flex;
  justify-content: space-between;


}

body {
  background: url("https://static.vecteezy.com/system/resources/previews/000/160/186/non_2x/billiards-background-vector.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  /* height: 900px; */
}


canvas {
}
.welcome-title {
  text-align: center;
  font-family: 'Charmonman', cursive;
  font-weight: 4000;
  font-size: 36px;
  color: white;
}

.personal-site {
  font-family: 'Charmonman', cursive;
  font-weight: 800;
  position: relative;
  right: 20px;
  color:#00FFFF;
  text-decoration: none;
}


.link-content {
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}
